<header>
  <div class="logo-container" routerLink="/produtos" routerLinkActive="active">
    <img src="assets/logow.png" alt="Amazoff logo" class="logo" />
  </div>
  <nav>
    <a routerLink="/produtos" routerLinkActive="active">Produtos</a>
    <a routerLink="/carrinho" routerLinkActive="active">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-shopping-cart"
      >
        <circle cx="9" cy="21" r="1"></circle>
        <circle cx="20" cy="21" r="1"></circle>
        <path
          d="M1 1h4l2.68 10.72a2 2 0 0 0 1.92 1.38h10.8a2 2 0 0 0 1.92-1.38L23 5H6"
        ></path>
      </svg>
      <span
        class="position-absolute translate-middle badge rounded-pill bg-danger"
        *ngIf="quantidadeComputed() > 0"
        >{{ quantidadeComputed() }}</span
      >
      Carrinho
    </a>
  </nav>
</header>
