<div class="container">
  <div class="header">
      <div class="logo">Módulos/Lazy Loading</div>    
      <div class="nav-links">
          <a routerLink="" routerLinkActive="active">Home</a>
          <a routerLink="/alimentacao" routerLinkActive="active">[M]Alimentacao</a>
          <a routerLink="/alimentacao/agendamento" routerLinkActive="active">Agendamento</a>
          <a routerLink="/reproducao" routerLinkActive="active">[M]Reprodução</a>
          <a routerLink="/gerenciamento" routerLinkActive="active">[M]Gerenciamento</a>
      </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
      <p>&copy; 2024 Residência. Todos os direitos reservados. <a href="#">Política de Privacidade</a> | <a href="#">Termos do serviço</a></p>
  </div>
</div>